.main-list > div {
    padding: 8px;
    border-radius: 8px;
    background-color: #aaa;
    margin: 4px;
}
.main-list > div:hover {
    background-color: #bbb;
}
.errorlist {
    color: red;
}
:required {
    box-shadow: 0px 0px 4px orange;
}
.matrix-room-card {
    border-width: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: #aaa;
    border-radius: 4px;
    padding: 4px;
}
.matrix-room-card:hover {
    background-color: #bbb;
}
.main-list > div > img {
    min-width: 128px;
}
tr {
    border-size: 1px;
}
.object-title {
    font-weight: bold;
}
.alarm-button {
  padding: 1.5ex;
  border-width: .5ex;
  border-color: black;
  border-radius: 1em;
}
.alarm-button:disabled {
    background-color: #a88;
}
.alarm-button:enabled {
  background-color: #ff2020;
}
table {
    overflow-x: auto;
    display: block;
}
