.main-list > div {
    padding: 8px;
    border-radius: 8px;
    background-color: #aaa;
    margin: 4px;
}
.main-list > div:hover {
    background-color: #bbb;
}
:required {
    box-shadow: 0px 0px 4px orange;
}
