{% extends 'alertrix/base.html' %}

{% load i18n %}
{% load static %}
{% load matrix %}

{% block title %}
{% trans 'applicationservices' %}
{% endblock %}

{% block content %}
<h1>{% trans 'applicationservices' %}</h1>
<div class="main-list">
    {% for obj in object_list %}
    <a href="{% url 'appservice.detail' obj.pk %}">
    <div class="main-list-item" style="min-height: 128">
        <div>
            <div>
                {{ obj }}
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}