{% extends 'alertrix/base.html' %}

{% load i18n %}
{% load static %}
{% load matrix %}

{% block title %}
{% trans 'companies' %}
{% endblock %}

{% block content %}
<h1>{% trans 'companies' %}</h1>
<div class="main-list">
    {% for obj in object_list %}
    {% with matrix_room=obj.get_matrix_room %}
    <div onclick="window.location.href = '{% url 'comp.detail' slug=obj.slug %}'" style="min-height: 128">
        {% if matrix_room.matrix_room_id %}
        <div style="float: left">
            <img src="{% mxc_to_http obj.handler.application_service.homeserver.url matrix_room.get_room_avatar 128 128 %}" alt="" height="128">
        </div>
        {% endif %}
        <div>
            <div style="float: left" class="alertrix-company-title">
                {{ obj }}
            </div>
            <br>
            <div class="alertrix-company-actions">
                <a href="element://vector/webapp/#/room/{{ matrix_room.matrix_room_id }}">[m]</a>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}