{% extends 'alertrix/detail.html' %}

{% load i18n %}
{% load matrix %}
{% load static %}

{% block title %}
{% if object %}{{ object }}{% else %}{% trans 'new company' %}{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<img src="{% if room.get_avatar.content.url %}{% mxc_to_http room.get_avatar.sender.homeserver.url room.get_avatar.content.url 128 128 %}{% endif %}" alt="" height="128" width="128">
<h1>
    {{ object.get_name.content.name }}
</h1>
<a href="element://vector/webapp/#/room/{{ object.room_id }}">{{ object.room_id }}</a>
<div>
    {{ room.get_topic.content.topic }}
</div>
<div>
    <h2>{% trans 'units' %}</h2>
    <div class="main-list">
        {% for unit in units %}
        {% include "alertrix/matrixroom.html" with room=unit %}
        {% endfor %}
        <a href="{% url 'unit.new' %}?companies={{ object.pk }}">
            <div class="unit">
            <img src="{% static 'alertrix/icons/new.svg' %}" height="128">
            <div>
                <div class="object.title">{% trans 'new unit' %}</div>
            </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
