{% extends 'alertrix/detail.html' %}

{% load i18n %}
{% load matrix %}
{% load static %}

{% block title %}
{% if object %}{{ object }}{% else %}{% trans 'new company' %}{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>
    {{ object }}
</h1>
<a href="element://vector/webapp/#/room/{{ object.matrix_room_id }}">{{ object.matrix_room_id }}</a>
{% for data in object.get_room_info %}
{% if data.type == 'm.room.topic' %}
<div>
    {{ data.content.topic }}
</div>
{% endif %}
{% endfor %}
<div>
    <h2>{% trans 'units' %}</h2>
    <div class="main-list">
        {% for child in object.get_children %}
        {% if child.responsible_user %}
        {% include "alertrix/matrixroom.html" with room=child %}
        {% endif %}
        {% endfor %}
        <a href="{% url 'unit.new' %}?companies={{ object.slug }}">
            <div class="unit">
            <img src="{% static 'alertrix/icons/new.svg' %}" height="128">
            <div>
                <div class="object.title">{% trans 'new unit' %}</div>
            </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
