{% extends 'alertrix/base.html' %}

{% load i18n %}
{% load static %}
{% load matrix %}

{% block title %}
{% trans 'companies' %}
{% endblock %}

{% block content %}
<h1>{% trans 'companies' %}</h1>
<div class="main-list">
    {% for obj in object_list %}
    {% include "alertrix/matrixroom.html" with room=obj %}
    {% endfor %}
    {% if perms.alertrix.add_company %}
    <a href="{% url 'comp.new' %}" style="min-height: 128">
        <div class="main-list-item matrix-room-card">
        <div style="float: left">
            <img src="{% static 'alertrix/icons/new.svg' %}" alt="" height="128">
        </div>
        <div>
            <div style="float: left" class="alertrix-company-title">
                {% trans 'new company' %}
            </div>
        </div>
        </div>
    </a>
    {% endif %}
</div>
{% endblock %}
