{% extends 'alertrix/base.html' %}
{% load i18n %}
{% load matrix %}

{% block content %}
{% if not user.is_authenticated %}
<div class="center">
    {% if main_user %}
    {% with profile_information=main_user.get_profile_information %}
    {% if profile_information.avatar_url %}
    <div class="center">
        <img src="{% mxc_to_http main_user.homeserver.url profile_information.avatar_url 128 128 %}" alt="" height="128" width="128">
    </div>
    {% endif %}
    <div class="center">
    {% blocktranslate with matrix_id=main_user url="https://matrix.to/#/"|add:main_user.user_id trimmed %}
    send <code>start</code> to <a href="{{ url }}">{{ matrix_id }}</a> in a direct message
    {% endblocktranslate %}
    </div>
    <br>
    <div class="center">
        {% blocktranslate with homeserver=main_user.homeserver trimmed %}
        your homeserver does not federate with {{ homeserver }}? contact you homeservers admin
        {% endblocktranslate %}
    </div>
    {% endwith %}
    {% else %}
    {% translate "further configuration is required, please contact the admins" %}
    {% endif %}
</div>
<br>
{% endif %}
<div>
    <div>
        <h1>{% translate "units" %}</h1>
        <div>
            {% for unit in units %}
            {% include "alertrix/unit.html" with room=unit %}
            {% empty %}
            {% if not user.is_authenticated %}
            {% blocktranslate with service_name=service_name count n=n_total_units trimmed %}
            there is {{ n }} unit on {{ service_name }}
            {% plural %}
            there are {{ n }} units on {{ service_name }}
            {% endblocktranslate %}
            {% else %}
            you have not joined any unit yet
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <h1>{% translate "companies" %}</h1>
        <div>
            {% for company in companies %}
            {% include "alertrix/company.html" with room=company %}
            {% empty %}
            {% if not user.is_authenticated %}
            {% blocktranslate with service_name=service_name count n=n_total_companies trimmed %}
            there is {{ n }} company on {{ service_name }}
            {% plural %}
            there are {{ n }} companies on {{ service_name }}
            {% endblocktranslate %}
            {% else %}
            you have not joined any company yet
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
