{% extends 'alertrix/base.html' %}
{% load i18n %}
{% load matrix %}

{% block content %}
{% if not user.is_authenticated %}
<div class="center">
    {% with profile_information=main_user.get_profile_information %}
    <div class="center">
    {% blocktranslate with matrix_id=main_user url="https://matrix.to/#/{{ matrix_id }}" trimmed %}
    send <code>start</code> to <a href="{{ url }}">{{ matrix_id }}</a> in a direct message
    {% endblocktranslate %}
    </div>
    {% endwith %}
</div>
{% endif %}
{% endblock %}
