{% extends 'alertrix/base.html' %}
{% load i18n %}
{% load matrix %}

{% block content %}
{% if not user.is_authenticated %}
<div class="center">
    {% if main_user %}
    {% with profile_information=main_user.get_profile_information %}
    {% if profile_information.avatar_url %}
    <div class="center">
        <img src="{% mxc_to_http main_user.homeserver.url profile_information.avatar_url 128 128 %}" alt="" height="128" width="128">
    </div>
    {% endif %}
    <div class="center">
    {% blocktranslate with matrix_id=main_user url="https://matrix.to/#/"|add:main_user.user_id trimmed %}
    send <code>start</code> to <a href="{{ url }}">{{ matrix_id }}</a> in a direct message
    {% endblocktranslate %}
    </div>
    <br>
    <div class="center">
        {% blocktranslate with homeserver=main_user.homeserver trimmed %}
        your homeserver does not federate with {{ homeserver }}? contact you homeservers admin
        {% endblocktranslate %}
    </div>
    {% endwith %}
    {% else %}
    {% translate "further configuration is required, please contact the admins" %}
    {% endif %}
</div>
<br>
{% endif %}
<div>
</div>
{% endblock %}
