{% load matrix %}
{% load alertrix_roles %}


<a href="{% block url_detail %}{% endblock %}">
    <div class="main-list-item matrix-room-card">
        <img src="{% if room.get_avatar.content.url %}{% mxc_to_http room.get_avatar.sender.homeserver.url room.get_avatar.content.url 128 128 %}{% endif %}" alt="" height="128" width="128">
        <div>
            <div class="object-title">{% block name_prefix %}{% endblock %}{{ room.get_name.content.name }}</div>
            {% if show_topic %}
            {% if room.get_topic %}
            <div>{{ room.get_topic.content.topic }}</div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</a>
