{% load matrix %}


{% if room.company %}
<a href="{% url 'comp.detail' slug=room.slug %}">
{% elif room.unit %}
<a href="{% url 'unit.detail' pk=room.matrix_room_id %}">
{% else %}
<a>
{% endif %}
    <div class="main-list-item matrix-room-card">
        {% if room.company or room.unit %}
        <img src="{% if room.get_room_avatar %}{% mxc_to_http room.responsible_user.homeserver.url room.get_room_avatar 128 128 %}{% endif %}" alt="" height="128" width="128">
        {% endif %}
        <div>
            <div class="object-title">{% if room.company and emoticon_company %}{{ emoticon_company }} {% endif %}{% if room.unit and emoticon_unit %}{{ emoticon_unit }} {% endif %}{{ room }}</div>
            {% if room.get_description %}
            <div>{{ room.get_description }}</div>
            {% endif %}
            <div>
                <span>💬 {{ room.get_children|length }}</span>
                <span>🧑 {{ room.get_joined_members|length }}</span>
            </div>
        </div>
    </div>
</a>
