{% extends 'alertrix/detail.html' %}

{% load i18n %}
{% load matrix %}
{% load static %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
{{ block.super }}
<div>
    {% for company in companies %}
    {% include "alertrix/matrixroom.html" with room=company %}
    {% endfor %}
</div>
<img src="{% if room.get_avatar.content.url %}{% mxc_to_http room.get_avatar.sender.homeserver.url room.get_avatar.content.url 128 128 %}{% endif %}" alt="" height="128" width="128">
<h1>
    {{ object.get_name.content.name }}
</h1>
<div>
</div>
{% endblock %}
